{% extends 'base.html' %}




{% block title %} 
Test Title
{% endblock %}


{% block content %} 
{% load static %}
<h4 align="center"><font color="blue"></font></h4>
<hr>
    <div class="row">
    <h3><font color="red">組員呈現-1(AIOT雲端數據運算) by 國珍</font></h4>
        <a href="https://colab.research.google.com/drive/1eP_c0yWSQhRWtjnGmp223MlM01xhmMMF"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"></a><br>      
        <h1><img width="250" height="250" src="{% static 'img/QR_1.jpg' %}"></h1>
    </div>
<hr>
    <div class="row">
    <h3><font color="red">組員呈現-2(AIOT雲端數據運算) by 易德</font></h4>
        <a href="https://tsutsuri.site/">這個連結會連到另一個展示網站</a><br>
        <h1><img width="250" height="250" src="{% static 'img/QR_2.jpg' %}"></h1>
    </div>
<hr>
{% endblock %}
