{% extends 'base.html' %}




{% block title %} 
Test Title
{% endblock %}


{% block content %} 
{% load static %}
<h4 align="center"><font color="blue">本頁面呈現，可以針對特定車牌進行辨識與追蹤。</font></h4>
<hr>
    <h3><font color="blue">原始圖片</font></h4>
    <div class="row">
        <h1><img width="600" height="400" src="{% static 'img/choose.jpg' %}"></h1>
    </div>
<hr>
    <h3><font color="blue">實驗模擬結果圖片</font></h4>
    <div class="row">
        <h1><img width="600" height="400" src="{% static 'img/result.jpg' %}"></h1>
    </div>
  <script src="" integrity="" crossorigin="anonymous"></script>


{% endblock %}
