{% extends 'base.html' %}




{% block title %} 

{% endblock %}



{% block content %} 
{% load static %}
<h4 align="center"><font color="blue">本頁面呈現，經由YOLO學習並且找出圖片中的車牌。</font></h4>
<hr>
    <h3><font color="blue">原始圖片</font></h4>
    <div class="row">
        <h1><img width="600" height="400" src="{% static 'img/mul.jpg' %}"></h1>
    </div>
<hr>
    <h3><font color="blue">實驗模擬結果圖片</font></h4>
    <div class="row">
        <h1><img width="600" height="400" src="{% static 'img/mul-do.jpg' %}"></h1>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


{% endblock %}
