<div class='col-sm-4 col-md-4'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h3>	
                MENU
            </h3>
        </div>
        <div class='panel-body'>
            <div class='list-group'>
                <a href='/' class='list-group-item'>首頁</a>
                <a href='/templates/comm_partner.html' class='list-group-item'>第三組成員介紹</a>
                <a href='/templates/comm_A.html' class='list-group-item'>成果(壹)-車牌辨識</a>
                <a href='/templates/comm_B.html' class='list-group-item'>成果(貳)-動態車牌辨識</a>
                <a href='/templates/comm_C.html' class='list-group-item'>成果(參)-特定車牌跟隨</a>            
                <a href='/templates/comm_S.html' class='list-group-item'>成果(肆)-成員額外成果</a>
                <a href='/templates/upload_ui.html' class='list-group-item'>Closed Beta</a>   
                <a href='/admin' class='list-group-item'>管理頁面</a>

                {% comment %} <a href='#' class='list-group-item'>預備連結</a> {% endcomment %}

            </div>                
        </div>

        <a href="http://guestscounter.com"><img src="http://guestscounter.com/count.php?c_style=14&id=1660533536" border=00000000 alt="blog counter"></a><br><a href="http://guestscounter.com" style="font-size:42px;"></a><br>
        <script id="_waurg4">var _wau = _wau || []; _wau.push(["map", "3mg7nl9zh5", "rg4", "250", "125", "night", "cross-pink"]);</script><script async src="//waust.at/m.js"></script>
        <script id="_waufwe">var _wau = _wau || []; _wau.push(["classic", "468y1ph1wd", "fwe"]);</script><script async src="//waust.at/c.js"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=100&height=20&appId" width="100" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2F888papa&layout=button_count&size=small&width=84&height=20&appId" width="84" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</div>
