{% extends 'base.html' %}




{% block title %} 

{% endblock %}



{% block content %} 
    <h1 align="center"><font color="red">本頁面目前努力中。</font></h1>
   <form enctype="multipart/form-data" id="id_ajax_upload_form" method="POST" novalidate="">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" />
   </form>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript">
    // form upload
    $('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
    
{% endblock %}




